@import "tailwindcss";

body{background:#020617}

.input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  background:#0f172a;
  color:white;
}

.btn{
  background:#2563eb;
  padding:10px;
  width:100%;
  color:white;
}

.card{
  background:#0f172a;
  color:white;
  padding:16px;
  border-radius:8px;
}

.center-form{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:10px;
}
